body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  align-items: start;
}

header {
  background: #B209B2;
  padding: 30px;
  margin-bottom: 20px;

  grid-column: 1 / span 2;
  grid-row: 1;
}

section {
  background: #0EFFDA;
  padding: 30px;
  margin-left: 20px;

  grid-column: 2;
  grid-row: 2;
}

aside {
  background: #FFC800;
  padding: 30px;

  grid-column: 1;
  grid-row: 2;
  align-self: start;
}

footer {
  background: #796ae5;
  padding: 30px;
  margin-top: 20px;

  grid-column: 1 / span 2;
  grid-row: 3;
}
